<br />
<ng-container *ngIf="products$.length !== 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products$; let i = index">
              <td>{{ item.title }}</td>
              <td>
                <img style="width: 50%" src="{{ item.image }}" alt="" />
              </td>
              <td style="width: 25%">{{ item.description }}</td>
              <th style="width: 12%">${{ item.price }}</th>
              <td style="width: 12%">{{ item.quantity }}</td>
              <td style="width: 12%">{{ item.price }}</td>
              <td>
                <button
                  (click)="removeCartItem(item.id)"
                  class="btn-btn-danger">
                  <svg
                    width="20px"
                    height="20px"
                    viewBox="0 0 1024 1024"
                    class="icon"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M960 160h-291.2a160 160 0 0 0-313.6 0H64a32 32 0 0 0 0 64h896a32 32 0 0 0 0-64zM512 96a96 96 0 0 1 90.24 64h-180.48A96 96 0 0 1 512 96zM844.16 290.56a32 32 0 0 0-34.88 6.72A32 32 0 0 0 800 320a32 32 0 1 0 64 0 33.6 33.6 0 0 0-9.28-22.72 32 32 0 0 0-10.56-6.72zM832 416a32 32 0 0 0-32 32v96a32 32 0 0 0 64 0v-96a32 32 0 0 0-32-32zM832 640a32 32 0 0 0-32 32v224a32 32 0 0 1-32 32H256a32 32 0 0 1-32-32V320a32 32 0 0 0-64 0v576a96 96 0 0 0 96 96h512a96 96 0 0 0 96-96v-224a32 32 0 0 0-32-32z"
                      fill="#FF0000" />
                    <path
                      d="M384 768V352a32 32 0 0 0-64 0v416a32 32 0 0 0 64 0zM544 768V352a32 32 0 0 0-64 0v416a32 32 0 0 0 64 0zM704 768V352a32 32 0 0 0-64 0v416a32 32 0 0 0 64 0z"
                      fill="#FF0000" />
                  </svg>
                </button>
              </td>
            </tr>
            <div class="rounded"></div>
            <tr>
              <td colspan="4"></td>
              <td>
                <button (click)="emptyCart()" class="btn-btn-empty">
                  Empty Cart
                </button>
              </td>
              <td>
                <button
                  (click)="goToProducts()"
                  routerLinkActive="router-link-active"
                  class="btn-btn-primary">
                  Shop More
                </button>
              </td>
              <td><button class="btn-btn-success">Checkout</button></td>
            </tr>
          </tbody>
        </table>
        <div>
          <strong>Total : ${{ finalPrice }}</strong>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products$.length === 0">
  <div class="container">
    <div class="card"></div>
    <div class="center">
      <img
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt="" />
      <h4>Your cart is empty!</h4>
      <h6>Add item to it now</h6>
      <button
        style="width: 200px"
        (click)="goToProducts()"
        routerLinkActive="router-link-active"
        class="btn-btn-primary">
        Shop More
      </button>
    </div>
  </div>
</ng-container>
