/* You can add global styles to this file, and also import other style files */
card{
    display: flex;

}

.nav1{
    width: 1,440px;
    height: 124px;
    top: -2px;
    gap: 10px;
    background-color: black;
    color: red;
}
.nav {
    position: absolute;
    top: -2;
    left: 0;
    right: 0;
    height: 124px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
  }

  .input {
    all: unset;
    background-color: #fff;
    color: black;
    font: 16px system-ui;
    height: 25px;
    width: 100px;
    
    border-color: #fff;
    border-radius: 30%;
    margin-right: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .footer{
    position: absolute;
    top: -2;
    left: 0;
    right: 0;
    height: 124px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
  }