/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* You can add global styles to this file, and also import other style files */

/* Variables for fonts, font sizes, and colors */
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$color-grey: grey;
$color-primary: #000;
$color-white: #fff;
/* Global styles */
body {
    font-family: $font-family;
    font-size: $font-size-base;
    background-color:$color-white;
  }